#topBar {
  display: flex;
}

#upload {
  margin-left: 100px;
  margin-top: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.dummy {
  opacity: 0;
}

.dir-item {
  margin-top: 10px;
  display: flex;
}

.dir-text {
  padding: 1px 6px;
}

.file-item {
  margin-top: 10px;
  display: flex;
}

.blk-item {
  margin-top: 10px;
  display: flex;
}

.btn-expand {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-hide {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-file {
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.btn-file:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-blk {
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.btn-blk:hover {
  background-color: #4ccbee; /* Green */
  color: white;
}

.file-list {
  list-style-type: none;
}

.block-list {
  list-style-type: none;
}

#mainContent {
  display: flex;
  border: 1px solid black;
  border-collapse: collapse;
  height: 85vh;
}

#tree {
  width: 20%;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: black;
  overflow: auto;
}

#fileSection {
  width: 80%;
}

#fileName {
  text-align: center;
  margin-right: 50px;
}

#fileContent {
  margin: 0;
  height: 95%;
  white-space: pre-wrap;
  font-family: monospace;
  overflow: auto;
}

ul {
  padding-inline-start: 15px;
}

#fileInfo {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
